* {
    margin : 0;
    font-family: "roboto", sans-serif;
}

html {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    background-color: rgb(59,59,59);
    }



.cookie-banner {
    position: absolute;
    left: 0;

    color: white;
    background-color: rgb(19,154,198);
    transition: 300ms;
    width: 100%;
    margin: 0 auto; 
}

.cookie-banner-message {
    padding-left: 7.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.cookie-banner a {
    color: yellow;
}

.cookieclose {
    border: none;
    font-size: 150%;
    cursor:pointer;
    position: absolute;
    top: 0;
    right: 0;
    transition: 300ms;
    background: transparent;
    color: white;
   
}

.navi {
    display: flex;
    margin-left:  7.5rem;
    margin-right: 7.5rm;
    width: 100%;
    margin: 10px auto; 
    border: none;
   
}

.logo {
    width: 15%;
    min-width: 240px;
}


.pub {
    margin: auto;
    width: 40%;
    min-width: 300px;
}

.menu {
 width: 30%;
}

.quickmenu {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    
}

.quickmenu a {
    padding: 1rem;
    color: white;
    text-decoration: none;
}

.searchtop { 
    display: flex;
    justify-content:flex-end;
}


.body-data { 
    position: relative;
    width: 100%;
    display:flex;
    background-color: white;
    height: 1000px;
    
}

.body-data-left { 
    width: 20%;
    min-width: 250px;
}

.body-data-left a {
    color: black;
    text-decoration: none;
}

.categories {
    text-transform: uppercase;
    color: blue;
    background-color: lightskyblue;
    padding: 10px;
}











/* position des catégories */

.catmovies {
    position: absolute;
    margin: 10px;
    top: 40px;
    left: 30px;
    border-bottom: 1px dotted black;
}
.catmusic {
    position: absolute;
    margin: 10px;
    top: 80px;
    left: 30px;
    border-bottom: 1px dotted black;
}
.catgames {
    position: absolute;
    margin: 10px;
    top: 120px;
    left: 30px;
}
.catpuzzles {
    position: absolute;
    margin: 10px;
    top: 140px;
    left: 70px; 
}
.catcards {
    position: absolute;
    margin: 10px;
    top: 160px;
    left: 70px;
    background-color: yellow;
}
.catmazes {
    position: absolute;
    margin: 10px;
    top: 180px;
    left: 70px;
    border-bottom: 1px dotted black;
    
}
.catshows {
    position: absolute;
    margin: 10px;
    top: 220px;
    left: 30px;
    border-bottom: 1px dotted black;
}
.catsoftware {
    position: absolute;
    margin: 10px;
    top: 260px;
    left: 30px;
    border-bottom: 1px dotted black;
}
.catebooks {
    position: absolute;
    margin: 10px;
    top: 300px;
    left: 30px;
    border-bottom: 1px dotted black;
}
.catfaq {
    position: absolute;
    margin: 10px;
    top: 340px;
    left: 30px;
    border-bottom: 1px dotted black;
}
.catsignup {
    position: absolute;
    margin: 10px;
    top: 380px;
    left: 30px;
    border-bottom: 1px dotted black;
}

/* style */

.catpuzzles:hover, .catcards:hover, .catmazes:hover {
    background-color: yellow;
    transition: 1s ease;
}



.catpuzzles, .catcards, .catmazes {
   font-style: italic;
}

.catmovies, .catmusic, .catgames, .catshows, .catsoftware, .catebooks, .catfaq, .catsignup {
    font-weight: bold;
}








.body-data-right { 
    width: 80%;
}

.games {
    position: relative;
    left: 10px;
}
.cards {
   position: relative;
    left: 10px; 
}


.inscription {
    font-style: italic;
}

.statistics {
    background-color: rgb(254,173,1);
    text-transform: uppercase;
    color: white;
    padding: 10px;
}

.btnhaut {
    position: absolute;
    bottom: 0px;
    right: 2%;
    color: black;
    
}

.arrow {
    position: absolute;
    right: 102%;
}




footer {
    width: 100%;
}

.qmw {
    width: 100%;
    display: flex;
    justify-content: center;
}

.quickmenu-foot {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
    opacity: 75%;
    width: 500px;
}

.quickmenu-foot a {
    color: white;
    text-decoration: none;
}

.endtext {
    color: white;
    font-size: 75%;
    text-align: center;
    opacity: 50%;
}

hr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:none;
    border-top:1px dashed white;
    height:1px;
    width:55%;
    margin-top: 30px;
    margin-bottom: 20px;
    opacity: 75%;
}

